.leftbar
{
	background-color:peachpuff;
	margin-top : 1%;
	padding:10px;
	height:79%;
}
.selected{
	background-color: cornsilk !important;
}
.rightbar
{
	background-color:lightgray;
	margin-top:1%;
	height:79%;
}

.addlist
{
	margin-top: 260% fixed;
	width: 460%;
}

.addlistitem
{
	margin-top: 42.8% fixed;
	margin-left:10px;
}

.invis
{
	display:none;
}